<div ng-controller = "ListCtrl" class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Complete list of titles</h1>
                <ol class="breadcrumb">
                    <li><a href="/#/">Home</a>
                    </li>
                    <li class="active">Book List</li>
                </ol>
            </div>
        </div>
        
        <div class = "container">
            <div class = "row">
                
                <div class="list-group col-sm-6">
                    <input type = "text" class = "form-control" style = "font-size: 20px; padding: 10px" placeholder="Search By Title" ng-model="searchBox">
                    <br>
                    <button type="button" class="list-group-item" ng-repeat = "book in books | filter:searchBox" ng-click = "getdata(book.bookid)">
                        {{ book.name }}
                    </button>
                </div>

                <div class="col-sm-6" style="padding-left: 25px" ng-show="bookdetails">
                    <div class = "row">
                        <img src = "{{data.photo}}"><h1> Rs. {{ data.price }} /- </h1></img>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Name: </div>
                        <div class = "col-sm-8">{{ data.name }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Genre: </div>
                        <div class = "col-sm-8">{{ data.genre }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Frequency: </div>
                        <div class = "col-sm-8">{{ data.freq }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Type: </div>
                        <div class = "col-sm-8">{{ data.type }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Language: </div>
                        <div class = "col-sm-8">{{ data.lang }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Publisher: </div>
                        <div class = "col-sm-8">{{ data.pubname }}</div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-3">Description: </div>
                        <div class = "col-sm-8">{{ data.desc }}</div>
                    </div>
                </div>
            </div>
        </div>
        
</div>