    <!-- Contact Page -->
    <div ng-controller = "ContactController" class="container">

    <hr/>

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Let's get in touch !</h1>
                <ol class="breadcrumb">
                    <li><a href="/#/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Embedded Google Map -->
            <div class="col-md-8">
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABgJQBX32zezK_KWgdVx1OD4zDG-6ENRM&q=Easwari+Agencies,Chennai+India"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Easwari Agencies<br><small>Distributors of Newspapers and Magazines</small></h3>
                <p>
                    Old No. 117, New No. 55,<br> Egmore High Rd, Egmore,<br> Chennai, Tamil Nadu 600008, India<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (044) 2819-3020</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:easwari.agencies@gmail.com">easwari.agencies@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Saturday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <div class="row">
            <div class="col-md-8">
                <h3>Inquire us for details</h3>
                <br><br>   
                <div ng-show="submissionSuccess" class="ng-show">
                    <span class = "alert alert-success">Your message has been sent!</span>    
                </div>

                <div ng-hide="msghidden" class="ng-hide">
                <form name="sentMessage" ng-submit="addInquiry()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : sentMessage.fullname.$invalid && !sentMessage.fullname.$pristine }">
                        <label class = "control-label required">Full Name:</label>
                        <input type="text" class="form-control" ng-model = "info.fullname" name="fullname" required>
                        <p ng-show="sentMessage.fullname.$invalid && !sentMessage.fullname.$pristine" class="help-block">Required field</p>
                    </div>
                    <div class="form-group">
                        <label class = "control-label">Phone Number:</label>
                        <input type="tel" class="form-control" ng-model = "info.phone" name="phone">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sentMessage.email.$invalid && !sentMessage.email.$pristine }">
                        <label class = "control-label required">Email Address:</label>
                        <input type="email" class="form-control" ng-model = "info.email" name="email" required>
                        <p ng-show="sentMessage.email.$invalid && !sentMessage.email.$pristine" class="help-block">Enter a valid email</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sentMessage.question.$invalid && !sentMessage.question.$pristine }">
                        <label class = "control-label required">Question</label>
                        <textarea rows="10" cols="100" class="form-control" ng-model = "info.question" name="question" maxlength="999" style="resize:none" required></textarea>
                        <p ng-show="sentMessage.question.$invalid && !sentMessage.question.$pristine" class="help-block">Required field</p>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" style = "width:30%; font-size: 22px" ng-disabled="sentMessage.$invalid">Send Message</button>
                </form>
                </div>
                <br><br>   
            </div>

        </div>

    </div>