<hr/>
<div class="container-fluid">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Esteemed Publishers</h1>
                <ol class="breadcrumb">
                    <li><a href="/#/">Home</a>
                    </li>
                    <li class="active">Esteemed Publishers</li>
                </ol>
            </div>
        </div>

        <!--Thumbnails-->
        <div>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="http://9dot9interactive.in/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/9dot9.png" alt="ninedotnine">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.businessindiagroup.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/bi.png" alt="bi">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.competitionreview.in/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/csr.png" alt="csr">
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.haymarket.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/haymarket.png" alt="haymarket">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://ibhworld.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/ibh.png" alt="ibh">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.mangalam.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/mangalam.png" alt="mangalam">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.manoramaonline.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/mm.png" alt="mm">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.indiamart.com/mtglearningmedia/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/mtg.png" alt="mtg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://nextgenpublishing.in/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/nextgen.png" alt="nextgen">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.outlookindia.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/outlook.png" alt="outlook">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="http://www.newwomanindia.com/" target="_blank" class="thumbnail">
                        <img src="static/img/pubthumbnails/pioneer.png" alt="pioneer">
                    </a>
                </div>
            </div>
        </div>  
</div>
        