<!doctype html>
<html>
    <head>
    	<title> Easwari Agencies </title>
    	<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/static/js/app.js"></script>
		<link rel="stylesheet" href="/static/css/style.css" />
		 <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
    </head>
    <body ng-app="eaApp">
		<div ng-view></div>
    </body>
</html>