<!doctype html>
<html>
    <head>
    	<title> Easwari Agencies </title>
    	<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/static/js/app.js"></script>
		<link rel="stylesheet" href="/static/css/style.css" />
		 <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
    </head>

    <body ng-app="eaApp">
    
		<!--navbar-->
		<nav class = "navbar navbar-toggleable-md navbar-light bg-faded">	
			<a class="navbar-brand" style="font-family: Lobster; font-size: 50px; color:#ff0055" href="/#/">Easwari Agencies</a>
				<div class = "collapse navbar-collapse">
					<ul class = "nav nav-pills pull-right">
						<li class = "nav-item active">
							<a class = "nav-link" href="/#/">Home <span class="sr-only">(current)</span></a>
						</li> 
						<li class = "nav-item">
							<a class = "nav-link" href="/#/about/">About</a>
						</li>
						<li class = "nav-item">
							<a class = "nav-link" href="/#/">Book List</a>
						</li>
						<li class = "nav-item">
							<a class = "nav-link" href="/#/">Publishers</a>
						</li>
						<li class = "nav-item">
							<a class = "nav-link" href="/#/">Special Editions</a>
						</li>
						<li class = "nav-item">
							<a class = "nav-link" href="/#/">Contact</a>
						</li>
					</ul>
				</div>
		</nav>

		<div ng-view></div>
		
		<!--Footer-->
		<footer class="company">
			<p><center> &copy; Easwari Agencies, 2017.</center></p>
		</footer>

    </body>

</html>